.post{
    width: 98%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 5px 5px 5px map-get($identity-colors, tertiary);
    box-shadow: 5px 5px 5px map-get($identity-colors, tertiary);
    @include flex-column-center;
    gap: 1.5rem;
    color: map-get($identity-colors, tertiary); 
    border: solid 0.1rem map-get($other-colors, secondary-s );
    @include desk-screen {
        max-width:500px;
    }
    &__top {
        width: 100%;
        height: 40%;
        display: flex;
        padding: 0;
        justify-content: space-between;
        align-self: flex-start;
    }
    &__topLeft{
        display: flex;
    }
    &__profileImg{
        -webkit-box-shadow: 5px 5px 5px map-get($identity-colors, tertiary);
        box-shadow: 5px 5px 5px map-get($identity-colors, tertiary);
        border: solid 0.1rem map-get($other-colors, secondary-s );
        border-radius: 20%;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }
    &__firstName, &__lastName {
        @include txt-sz-wght (medium-bold);
        align-self: flex-end;
        margin-left: 0.5rem;
        margin-right: 0rem;
    }
    &__topRight{
        display: flex;
        align-self: flex-end;
        padding: 0;
    }
    &__date{
        @include txt-sz-wght (medium-normal);
        align-self: flex-end;
    }


    &__center{
        @include txt-sz-wght(medium-normal);
        height: 50%;
        width: 100%;
        @include flex-column-center;
        gap: 0.5rem;
    }

    &__content{
        align-self: flex-start;
    }

    &__media{
        border-radius: 0.5rem;
        object-fit: cover;
        max-width: 75%;
        max-height: 50%;
    }

    &__bottom{
        height: 10%;
        width: 100%;
        @include txt-sz-wght(medium-bold);
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
    }

    &__icon{
        fill: none;
    }

}

.modifyarea{
    align-self: stretch;
    border-top: solid 2px map-get($identity-colors, primary);
    padding-top: 1rem;
    &__form{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    &__group{
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
    }
    &__label{
        @include txt-sz-wght(smaller-bold);
        color: map-get($identity-colors, tertiary);
    }
    &__input{
        @include txt-sz-wght(smaller-normal);
        border: solid 0.2rem map-get($identity-colors, secondary);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    &__textarea{
        @include txt-sz-wght(smaller-normal);
        color: map-get($identity-colors, tertiary);
        border: solid 0.2rem map-get($identity-colors, secondary);
        border-radius: 0.5rem;
    }

    &__btnsDiv{
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        align-items: flex-end;
        justify-content: flex-end;
    }
        
    &__modifyBtn{
    @include common-button;
    @include txt-sz-wght(smaller-normal);
    width: 5rem;
    }

    &__deleteBtn{
        @include common-button;
        @include txt-sz-wght(smaller-normal);
        color: map-get($other-colors, light);
        background-color: map-get($identity-colors, tertiary);
        width: 5rem;
    }
}