@mixin txt-sz-wght ($type) {
    $text-style: map-get($txt-sz-wght, $type);
    font-size: map-get($text-style,  size);
    font-weight: map-get($text-style, weight);
}

@mixin headings-effect{
    color: map-get($identity-colors, primary);
    text-shadow: 5px 5px 5px rgb(212, 206, 206);
}

@mixin common-button {
    @include txt-sz-wght (big-normal);
    border: none;
    color: map-get($other-colors , light);
    background-color: map-get($identity-colors, tertiary);
    border-radius: 10rem;
    padding: 0.4rem;
    &:hover{
        opacity: 0.85;
        box-shadow: 5px 5px 5px rgb(112, 110, 110);
    }

}

@mixin common-form{
    width: auto;
    @include flex-column-center;
    
    &__form{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
    &__group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__label{
        @include txt-sz-wght(big-normal);
    }
    &__input{
        padding: 0.5rem;
    }
    &__btn{
        @include common-button;
        @include link-state;
        margin: 0.5rem;
    }
}

@mixin link-state {
    a:link {
        color: map-get($other-colors, light);
        @include txt-sz-wght(big-normal);
        text-decoration: none; 
    }
    & a:visited {
        color: map-get($identity-colors, primary);
    }
    & a:hover {
        color: map-get($other-colors, tertiary-s);
    }
}

@mixin flex-column-center{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

@mixin border-radius-shadow{
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(212, 206, 206);
    border: none;
}

@mixin desk-screen {
    @media screen and (max-width: #{$BREAKPOINT-DESK}) {
        @content;
    }
}

@mixin tab-land-screen {
    @media screen and (max-width: #{$BREAKPOINT-TABLET-LAND}) {
        @content;
    }
}

@mixin tab-screen {
    @media screen and (max-width: #{$BREAKPOINT-TABLET}) {
        @content;
    }
}

@mixin mob-land-screen {
    @media screen and (max-width: #{$BREAKPOINT-MOBILE-LAND}) {
        @content;
    }
}

/*@mixin darkMode {
    @media(prefers-color-scheme: dark) {
        @content;
      }
    }
    */