//font variables
$general-font: 'Lato', sans-serif;

//colors variables map
$identity-colors: 
(
    //primary: #FD2D01,
    //primary: #e46b52,

    primary: #ea5638,
    secondary:#FFD7D7,
    tertiary:#4E5166

);
$other-colors: 
(
    dark: #000, 
    light: #FFF,
    primary-s: scale-color( map-get($identity-colors, primary), $lightness: 10%),
    secondary-s: scale-color( map-get($identity-colors, secondary), $lightness: -20%),
    tertiary-s: scale-color( map-get($identity-colors, tertiary), $lightness: 50%)
);

//texte variables and maps
$txt-smaller: 0.8rem;
$txt-small: 0.9rem;
$txt-medium: 1rem;
$txt-large: 1.2rem;

$txt-bold: bold;
$txt-normal: normal;

$txt-sz-wght:
(
    smaller-normal: (
        size: $txt-smaller,
        weight:$txt-normal,
    ),

    smaller-bold: (
        size: $txt-smaller,
        weight: $txt-bold,
    ),
    small-normal: (
        size: $txt-small,
        weight: $txt-normal,
    ),

    small-bold: (
        size: $txt-small,
        weight: $txt-bold,
    ),

    medium-bold: (
        size: $txt-medium,
        weight: $txt-bold,
    ),

    medium-normal: (
        size: $txt-medium,
        weight: $txt-normal,
    ),

    big-normal: (
        size: $txt-large,
        weight: $txt-normal,
    ),

    big-bold : (
        size: $txt-large,
        weight: $txt-bold,
    )
);


//Breakpoints
$BREAKPOINT-DESK: 1280px;
$BREAKPOINT-TABLET-LAND: 975px;
$BREAKPOINT-TABLET: 600px;
$BREAKPOINT-MOBILE-LAND: 480px;

