//font import

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: $general-font;
    margin: 0; 
    padding: 0;      
    background-color: map-get($other-colors, light);
<<<<<<< HEAD
=======
    //display: flex;
    //flex: column nowrap;
>>>>>>> dev
}

.main-content-wrapper {
    height: auto;
    width: auto;
<<<<<<< HEAD
=======
    padding: 0rem 2rem 5rem 2rem;
>>>>>>> dev
    @include flex-column-center;
}

