.footer{
    height: 4rem;
    width: 100%;
    background-color: map-get($identity-colors, tertiary);
    @include flex-row-center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    @include link-state;
    &__link{
        margin-right: 2rem;
        cursor: pointer;
    }
}